*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: middle;
}
a:link, a:visited, a:active{
    color:#888;
}


/* 레이아웃 정렬 */
.site-header{
    border-bottom: 1px solid #888;
    height: 100px;}
.container{
    width: 1200px;
    margin: 0 auto;
}
.site-footer{
    background-color: #eee;
}

/* .site-header */
.site-header div{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.gnb a{
    display: block;
}
.gnb>ul{
    display: flex;
    margin-top: 50px;
}
.gnb>ul>li{
    position: relative;
}
.gnb>ul>li>a{
    height: 50px;
    padding: 0 40px;
    font-size: 17px;
    line-height: 50px;
}
.gnb>ul>li:hover>a{
    background-color: #4a494b;
    color:#fff;
}
.gnb>ul>li>ul{
    position: absolute;
    left: 0; right: 0;
    display: none;
}
.gnb>ul>li>ul a{
    text-align: center;
    line-height: 40px;
    background-color: #caac7d;
    color:#fff;
}
.gnb>ul>li>ul a:hover{
    background-color: #fff;
    color:#caac7d;
}
.gnb>ul>li:hover > ul{
    display: block;
}

.slide {
    height: 300px;
    overflow: hidden;
}

.slide li{
    height: 300px;
}

.slide li:nth-child(1){
    background-image: url(../images/slide_game01.jpg);
}

.slide li:nth-child(2){
    background-image: url(../images/slide_game02.jpg);
}

.slide li:nth-child(3){
    background-image: url(../images/slide_game03.jpg);
}

.site-content{
    height: 200px;
    display: flex;
}

.site-content article{
    /* width: 400px; */
    width: calc(100%/3);
    padding: 10px;
}

.content__title{
    font-size: 20px;
    color: #4a494b;
    padding-bottom: 15px;
    margin-left: 20px;
}

.notice li{
    margin-left: 10px;
    line-height: 180%;
}

.notice a:hover{
    background-color: skyblue;
    color: #fff;
}

.gallery img{
    width: 100px;
    height: 120px;
    opacity: 0.9;
    transition: 0.3s;
}

.gallery img:hover{
    opacity: 1;
}

.gallery li:hover img{
    transform: scale(1.13);
}

.gallery li{
    width: 100px;
    overflow: hidden;
}

.gallery ul{
    display: flex;
    justify-content: space-around;
}

.banner img{
    width: 300px;
    height: 120px;
}

.banner ul{
    margin-left: 50px;
}

.banner h2{
    margin-left: 40px;
}

.banner img:hover{
    opacity: 1;
}

.banner li:hover img{
    transform: scale(1.03);
}

.banner li{
    overflow: hidden;
    width: 300px;
    border-radius: 10px;
}

.banner ul{
    margin-left: 50px;
}

.vanner h2{
    margin-left: 40px;
}

.site-footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo img{
    opacity: 0.7;
}

.sns{
    display: flex;
}

.sns img{
    width: 25px;
    padding: 5px;
    opacity: 0.5;
}

.layer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.layer > div{
    background-color: #fff;
    width: 600px;
    margin: 150px auto;
    border-radius: 5px;
    padding: 20px;
}

.layer h3{
    padding: 20px;
    color: #e59203;
    border-bottom: 1px solid #f3a928;
    padding-bottom: 20px;
    background-color: #ece280;
}

.layer p{
    text-align: justify;
    background-color: #f7e9d2;
    padding: 20px;
    color: #a16805;
}

.layer__btn{
    text-align: right;
    margin-top: 20px;
}

.layer__close>span{
    bottom: 1px solid #f7ce89;
    border-radius: 3px;
    width: 70px;
    display: inline-block;
    text-align: center;
    background-color: #f7e9d2;
    color: #a16805;
    line-height: 35px;
}

